APP_NAME=N10 OIDC Demo 2
APP_ENV=development
APP_HOST=0.0.0.0
APP_PORT=8000
KEYCLOAK_BASE_URL=https://oidc.lbl-b59.org
KEYCLOAK_REALM=amsc
KEYCLOAK_VERIFY_TLS=true
OIDC_API_AUDIENCE=api-oidc-demo-2-api
OIDC_VERIFY_AUDIENCE=true
DEMO2_TIER1_CLIENT_ID=api-oidc-demo-2-tier1
DEMO2_TIER2_CLIENT_ID=api-oidc-demo-2-tier2
DEMO2_TIER3_CLIENT_ID=api-oidc-demo-2-tier3
DEMO2_TIER1_SCOPES=openid profile demo2.projects.read demo2.reports.read demo2.users.read
DEMO2_TIER2_SCOPES=openid profile demo2.projects.read demo2.reports.read demo2.users.read demo2.users.write
DEMO2_TIER3_SCOPES=openid profile demo2.projects.read demo2.reports.read demo2.users.read demo2.users.write
TRUSTED_PROXY_CIDRS=10.42.0.0/16,127.0.0.1/32
